<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Where was the barrier and GUARD installed?</p>
      </div>
  
      <!-- Geolocation -->
      <input type="text" id="lat" class="fadeIn second" name="position" placeholder="latitude"><br>
      <input type="text" id="lng" class="fadeIn second" name="position" placeholder="longitude"><br>
      <button type="button" (click)="getLocation()" class="btn btn-primary">Locate me</button>
      <p id="demo"></p>
      <form>        
        <input routerLink="/6" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Next">
      </form> 
  
  
    </div>
  </div>