<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Where was the barrier and GUARD installed?</p>
      </div>
  
      <!-- Geolocation -->
      <div id='map' class="map-container" style='display:none; width: 90%; max-width: 450px; height: 300px;'></div>
      <input type="text" id="lat" class="fadeIn second" name="position" placeholder="latitude" [(ngModel)]='lat'><br>
      <input type="text" id="lng" class="fadeIn second" name="position" placeholder="longitude" [(ngModel)]='lng'><br>
      <button type="button" (click)="getLocation()" class="btn btn-primary">Locate me</button>
      <p id="demo"></p>  
      <input routerLink="/8" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Next" [disabled]='inputEmpty()' (click)='submitData()'>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 62.5%" aria-valuenow="62.5" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
  
  
    </div>
  </div>