<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Where was the barrier and GUARD installed?</p>
      </div>
  
      <!-- Geolocation -->
      <p id="demo"></p>
      <form>        
        <input routerLink="/6" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Next">
      </form> 
  
  
    </div>
  </div>