<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Your projects</p>
      </div>
      <p>todo: grab projects for login</p>
  
      <form>
        <input routerLink="/projectmeta" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Add Project" (click)='initProject()'>
      </form> 
  
  
    </div>
  </div>