<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title"><b>Your projects</b></p>
      </div>
      <div id="projects">
        <table id="projectsTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Project Name</th>
              <th>Installation Company</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  
      <form>
        <input routerLink="/projectmeta" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Add new project" (click)='initProject()'>
      </form> 
  
  
    </div>
  </div>