<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Placeholder: Please provide the following information (image)</p>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="projname" class="fadeIn second" name="info" placeholder="customer project name">
        <input type="text" id="company" class="fadeIn second" name="info" placeholder="installation company"> 
        <br>
        <p id="datetag" class="fadeIn third">date of installation:</p> 
        <input type="date" id="date" class="fadeIn third" name="info" value="">
        <br>
        <input routerLink="/5" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Next">
      </form> 
  
  
    </div>
  </div>