<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Placeholder: What type of application is your GUARD installed on?</p>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="radio" id="application" class="fadeIn second" name="application" value="rockfall">
        <label class="fadeIn second" for="rockfall">rockfall protection system</label><br>
        <input type="radio" id="application" class="fadeIn second" name="application" value="debrisflow">
        <label class="fadeIn second" for="debrisflow">debris protection system</label><br>
        <input type="radio" id="application" class="fadeIn second" name="application" value="avalanche">
        <label class="fadeIn second" for="avalanche">avalanche protection system</label><br>
        <input type="radio" id="application" class="fadeIn second" name="application" value="other">
        <label class="fadeIn second" for="other">other</label><br>
        <input routerLink="/3" routerLinkActive="active" type="submit" class="fadeIn fourth" [disabled]="noneChecked" value="Next">
      </form> 
  
  
    </div>
  </div>