<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Placeholder: What type of application is your GUARD installed on?</p>
      </div>
  
      <div *ngFor="let application of applications">
        <input
        class='fadeIn second'
        type="radio"
        name='application'
        value='{{application}}'
        (change)='radioChangeHandler($event)'>
        <i>{{application}}</i>
      </div>
      <p><span>You selected: </span><b>{{selectedApplication}}</b></p> 
      <input routerLink="/3" routerLinkActive="active" type='submit' [disabled]='inputEmpty()' (click)='setApplication()' class='fadeIn third'> 
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>