<div class="container">
    
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id='instruction'>Scan the Geobrugg GUARD QR Code</p>
      </div>
        <div id="scanner-wrapper" class="fadeIn second">
        <zxing-scanner 
          [formats]="allowedFormats"
          (scanSuccess)="onSuccess($event)"
          (scanError)="handleError($event)"
        ></zxing-scanner>
        </div>
        <p id="result" style="display:none"></p>
        <button style="display:none" id="again" (click)="scanAgain()">Scan again</button>
        
        <button style="display:none" id="submit" routerLink="/2" routerLinkActive="active" (click)="handleQrCodeResult()">Submit</button>
  
    </div>
  </div>
