<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Choose your Rope Diameter your GUARD is installed on</p>
        <!--- images missing -->
      </div>      
      <select class="fadeIn second" name="ropediam" id="ropediam" [(ngModel)]='selectedLevel' (change)="selected()">
        <option value="14">Ø14mm</option>
        <option value="16">Ø16mm</option>
        <option value="18">Ø18mm</option>
        <option value="20">Ø20mm</option>
        <option value="22">Ø22mm</option>
        <option value="24">Ø24mm</option>
      </select><br>    
      <input routerLink="/4" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Next" [disabled]='inputEmpty()' (click)='submitData()'>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
  
  
    </div>
  </div>