<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
      <p id="title">The project's buildings</p>
    </div>
    <p>todo: buildinglist</p>

    <form>
      <input routerLink="/buildingmeta" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Add Building">
    </form> 


  </div>
</div>