<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
        <p id="title">Placeholder: Please provide the following information (image)</p>
      </div>
  
      <!-- Picture upload -->
      <form>
        <input type="file" accept="image/*" class="project_picture_file_input" id="project_picture_file_upload" capture>
        <br>
        <input routerLink="/7" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Next">
      </form> 
  
  
    </div>
  </div>