<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!--- Nicht nötig, da GUARDS nicht hinzu-->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://projectdetailsjson.netlify.app/picturesjpeg/Logo_Claim_RGB.png" id="icon" alt="User Icon" />
      <p id="title"><b>GUARDs on your protection systems</b></p>
    </div>
    <p>Choose a GUARD</p>

    <form>
      <input routerLink="/3" routerLinkActive="active" type="submit" class="fadeIn fourth" value="Add Guard">
    </form> 


  </div>
</div>